<section id="post-page">

<div class="container">
	<div class="columns">
		<div class="column"> </div>
		<div class="column is-two-thirds"> 
		  <h1 class="title is-2 has-text-centered"> <%- page.title %> </h1>
		  <h3 class="subtitle is-5 has-text-centered">
		        <%= date(page.date, config.date_format) %> 
		  </h3>
		  <p>
		 	<%- page.content %>
		  </p>
		</div>
		<div class="column"> </div>
	</div>
</div>

</section>